* {
    background-color: rgba(red, rgba(255, 255, 255, 0), blue, alpha);
    font-family: "Helvetica", Arial, sans-serif;
} img, ._38vo, .img {
    display: none;
}
.navHeader {
    border-bottom: 5px solid rgb(141, 26, 26);
} .sectionDragHandle {
    color: rgb(10, 62, 110) !important;
} ._5pcr  {
    background-color: #d7faff;
    border-left: 4px solid #269abc;
}
#js_b {
    margin-top: 50px;
    background-color: #335075;
    height: 55px;
} 